
<title>Cart</title>


{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Shopping Cart</h1>
      {% for item in items %}
      <div class="cart-item">
        <h2>{{ item.product.product_name }}</h2>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: {{ item.product.product_price }}</p>
        {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.product.product_name }}">
        {% endif %}
      </div>
    {% endfor %}
    
    </div>
    <div class="col-md-4">
      <h2>Cart Summary</h2>
      <p>Total Items: {{ items.count }}</p>
      <a class="btn btn-primary" href="/checkout/" role="button">Check Out</a>
    </div>
  </div>
</div>

{% endblock %}


